<table>
  <tr><th>Type</th> <th>Content</th> <th></th></tr>

  {{#each dreams}}
  <tr>
    <td>{{type}}</td>
    <td>{{content}}</td>
    <td>{{confirm-button title="Delete" action="removeDream" param=this}}</td>
  </tr>
  {{/each}}
</table>
