<p style="margin-top:-20px;">
	{{#link-to 'night' yesterday}}&laquo;{{/link-to}} Date: {{formatted}}
	{{#if tomorrow}} {{#link-to 'night' tomorrow}}&raquo;{{/link-to}}{{/if}}
	{{#link-to 'index' classNames="today"}}(Today){{/link-to}}
</p>


{{dream-space night=model}} <br />

{{view Ember.Select
       content=archetypes
       optionValuePath="content.dt"
       optionLabelPath="content.name"
       value=selectedDreamType
       prompt="select type"
}}

<br />

{{textarea value=newDream cols=57 rows=5}}

<br />

<button {{action 'resetForm'}}>Cancel</button>
<button {{action 'saveDream'}}>Save Dream</button>
